/*页面顶端*/
.bg_bottom{
	height: 50px;
	width: 100%;
	background-color: gray;
	overflow: hidden;
}
/*所有超链接为黑体，并且清除下划线*/
a{
	color: black;
	text-decoration: none;/*清除超链接下划线*/
}
/*左菜单*/
#left{
	float: left;
}
.menu{
	list-style: none;/*去掉列表前缀*/
}
.menu li{
	font-size: 20px;
	background-color: azure;
	width: 100px;
	height: 60px;
	text-align: center;
	line-height: 3;/*行高*/
	
}
.menu li:hover{
	background-color: skyblue;
	color: white;
}

#right{
	/*position: absolute;*/
	margin-top: 16px;
	margin-left: 175px;
	margin-bottom: 20px;
	width: 1250px;
	min-height: 500px;
	overflow: hidden;
	background-color: #f0f0f0;
}

.wenzhangList{
	/*float: left;*/
	width: 1150px;
	height: 80px;
	/*background-color: red;*/
	margin-left: 20px;
}

.wenzhangList_touxiang{
	width: 30px;
	height: 30px;
	border-radius: 50%;/*设置圆角*/
}
.articleName{
	font-weight: bold;
	font-family: STHeiti;
}
.authorName{
	font-weight: bold;
	font-family: STKaiTi;
}

.wenzhangList a:hover{
	color: #AE0000;
}
.text{
	color: #7b7b7b;
}

