body{
	margin: 0;
	padding: 0;
	text-align: center;
}
p{
	text-indent: 2em;/*段落首行缩进两个字*/
}
ul{
	list-style-type: none;/*消除项目符号*/
}
li{
	line-height: 200%;/*设置行高*/
	border-bottom: 1px solid black;/*设置下边框*/
}
#header{
	width: 960px;
	height: 80px;
	margin: 0;
	padding: 0;
	background: #EEE;
	position: absolute;
	top: 0;
	left: 0;
}
#nav{
	width: 384px;
	height: 360px;
	margin: 0;
	padding: 0;
	background: #ccc;
	text-align: left;/*内容左对齐*/
	position: absolute;
	top: 80px;
	left: 0;
}
#content{
   width:576px;
   height:360px;
   margin:0;
   padding:0;
   font-size:150%; /* 文字大小设置为150% */
   line-height:2.0; /*  行高设置为2倍 */
   margin:0;
   padding:0;
   background: #aaa;
   text-align: left;
   position:absolute; top:80px; left:384px;
}
#footer{
   width:960px;
   height:80px;
   text-indent:0;/* 将首行缩进设置为0 */
   margin:0;
   padding:0;
   background: #EEE;
   position:absolute; top:440px; left:0;
}
#header h1{
	margin: 20px;
}
#nav ul{
	margin: 20px;
}
#content p{
	margin: 20px;
}
#footer p{
	margin: 20px;
}
