<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">
  
  <!-- 扫描@Controller  @Service -->
  <context:component-scan base-package="controller"></context:component-scan>
  
  <!-- 处理器映射器 -->
<!--         <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"/> -->
        <!-- 处理器适配器 -->
<!--         <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter"/> -->
       
        <!-- 注解驱动 代表了上面的那两个    conversion-service用于加载转换器配置-->
        <mvc:annotation-driven  conversion-service="conversionServiceFactoryBean"/>
        
        <!-- 配置Conveter转换器，转换工厂（转换日期、去点前后空格等） -->
        <bean id="conversionServiceFactoryBean" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        	<!-- 配置多个转换器 -->
        	<property name="converters">
        		<list>
        		<!-- 自定义转换类的路径 -->
        			<bean class="conversion.DateConveter"></bean>
        		</list>
        	</property>
        </bean>
        
        <!-- 上传图片配置实现类 -->
        <!-- id是固定的 multipartResolver-->
        <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        	<!-- 上传图片的大小  单位是 B 5M = 1024*1024*5 = 5242800 B-->
        	<property name="maxUploadSize" value="5242880"></property>
        </bean>
        
        
        
        <!-- Springmvc的异常处理器 -->
        <bean class="excption.CustomExceptionResolver">
        	<!-- springmvc拦截器 -->
        	<mvc:interceptors>
        		<!-- 多个拦截器 -->
        		<mvc:interceptor>
	        		<!-- 拦截类型  /** ： 全部拦截 -->
	        		<mvc:mapping path="/**"/>
        			<!-- 自定义的拦截器类 -->
        			<bean class="interceptor.Interceptor1"></bean>
        		</mvc:interceptor>
        		
        <!--  <mvc:interceptor>
	        		<mvc:mapping path="/**"/> 
        			<bean class="interceptor.Interceptor2"></bean>
        		</mvc:interceptor>    -->
        		
        	</mvc:interceptors>
        </bean>
        
        <!-- 视图解析器  在此配置之后在ItemController中setViewName里就致谢jsp页面名就行了-->
        <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        	<!-- jsp页面的路径 -->
        	<property name="prefix" value="/WEB-INF/jsp/"/>
        	<!-- jsp后缀名 -->
        	<property name="suffix" value=".jsp"/>
        </bean>
        
        
        
</beans>