<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>servletDemo1</servlet-name>
    <servlet-class>ServletTest.ServletDemo1</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletDemo1</servlet-name>
    <url-pattern>/demo1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servletDemo2</servlet-name>
    <servlet-class>ServletTest.ServletDemo2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletDemo2</servlet-name>
    <url-pattern>/demo2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servletDemo3</servlet-name>
    <servlet-class>ServletTest.ServletDemo3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletDemo3</servlet-name>
    <url-pattern>/demo3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>responseDemo1</servlet-name>
    <servlet-class>HttpServlet.ResponseDemo1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>responseDemo1</servlet-name>
    <url-pattern>/responsedemo1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>responseDemo2</servlet-name>
    <servlet-class>HttpServlet.ResponseDemo2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>responseDemo2</servlet-name>
    <url-pattern>/responsedemo2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>responseDemo3</servlet-name>
    <servlet-class>HttpServlet.ResponseDemo3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>responseDemo3</servlet-name>
    <url-pattern>/responseDemo3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>responseDemo4</servlet-name>
    <servlet-class>HttpServlet.ResponseDemo4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>responseDemo4</servlet-name>
    <url-pattern>/responsedemo4</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>responseDemo5</servlet-name>
    <servlet-class>HttpServlet.ResponseDemo5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>responseDemo5</servlet-name>
    <url-pattern>/responsedemo5</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>responseDemo6</servlet-name>
    <servlet-class>HttpServlet.ResponseDemo6</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>responseDemo6</servlet-name>
    <url-pattern>/responsedemo6</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>registerDemo</servlet-name>
    <servlet-class>HttpServlet.registerDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerDemo</servlet-name>
    <url-pattern>/registerDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>requestDemo1</servlet-name>
    <servlet-class>HttpServlet.RequestDemo1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>requestDemo1</servlet-name>
    <url-pattern>/requestDemo1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>requestDemo2</servlet-name>
    <servlet-class>HttpServlet.RequestDemo2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>requestDemo2</servlet-name>
    <url-pattern>/requestDemo2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>requestDemo4</servlet-name>
    <servlet-class>HttpServlet.RequestDemo4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>requestDemo4</servlet-name>
    <url-pattern>/requestDemo4</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>requestDemo5</servlet-name>
    <servlet-class>HttpServlet.RequestDemo5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>requestDemo5</servlet-name>
    <url-pattern>/requestDemo5</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>clearServlet</servlet-name>
    <servlet-class>Cookie.ClearServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>clearServlet</servlet-name>
    <url-pattern>/clear</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cookieDemo1</servlet-name>
    <servlet-class>Cookie.CookieDemo1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cookieDemo1</servlet-name>
    <url-pattern>/cookieDemo1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>doLoginServlet</servlet-name>
    <servlet-class>Cookie.DoLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doLoginServlet</servlet-name>
    <url-pattern>/DoLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>Cookie.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>showBookDetail</servlet-name>
    <servlet-class>BookHistory.showBookDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showBookDetail</servlet-name>
    <url-pattern>/showBookDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowAllBooksServlet</servlet-name>
    <servlet-class>BookHistory.ShowAllBooksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllBooksServlet</servlet-name>
    <url-pattern>/ShowAllBooks</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DBUtil</servlet-name>
    <servlet-class>BookHistory.DBUtil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBUtil</servlet-name>
    <url-pattern>/DBUtil</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Book</servlet-name>
    <servlet-class>BookHistory.Book</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Book</servlet-name>
    <url-pattern>/Book</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addCart</servlet-name>
    <servlet-class>HttpSession.AddCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addCart</servlet-name>
    <url-pattern>/AddCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowAllBooksServlet_1</servlet-name>
    <servlet-class>HttpSession.ShowAllBooksServlet_1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllBooksServlet_1</servlet-name>
    <url-pattern>/ShowAllBooksServlet_1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>showCart</servlet-name>
    <servlet-class>HttpSession.ShowCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showCart</servlet-name>
    <url-pattern>/ShowCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SessionDemo1</servlet-name>
    <servlet-class>HttpSession.SessionDemo1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionDemo1</servlet-name>
    <url-pattern>/SessionDemo1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SessionDemo2</servlet-name>
    <servlet-class>HttpSession.SessionDemo2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionDemo2</servlet-name>
    <url-pattern>/SessionDemo2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Dologin_1</servlet-name>
    <servlet-class>HttpSession.Dologin_1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dologin_1</servlet-name>
    <url-pattern>/Dologin_1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CodeServlet</servlet-name>
    <servlet-class>HttpSession.CodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CodeServlet</servlet-name>
    <url-pattern>/CodeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>doLogin</servlet-name>
    <servlet-class>HelloJSPServlet.doLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doLogin</servlet-name>
    <url-pattern>/doLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>regServlet</servlet-name>
    <servlet-class>MVC.regServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>regServlet</servlet-name>
    <url-pattern>/regServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginServletMVC</servlet-name>
    <servlet-class>MVC.LoginServletMVC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServletMVC</servlet-name>
    <url-pattern>/loginServletMVC</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginOutServlet</servlet-name>
    <servlet-class>MVC.LoginOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginOutServlet</servlet-name>
    <url-pattern>/loginOutServlet</url-pattern>
  </servlet-mapping>
</web-app>